* {
    padding: 0;
    margin: 0;
    /* outline: 1px solid rgb(219, 173, 230); */
}


body {
    font-family: "Assistant", sans-serif;
}

:root {
    /* font colors */
    --font-color-title: #424553;
    --font-color-card-title: #282c3f;
    --font-color-best-price: rgb(3, 166, 133);
    --font-color-best-price-grey: #686b77;
    --font-color-discount-off: #ff905a;

    /* text-colors */
    --floating-btn-color: #535766;
    --sort-by-title-color: #3e4152;
    /* border color */
    --button-border-color: #eaeaec;
    /* line height */
    --default-line-height: 18.5714px;

}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: row;
    height: 56px;
}

.header-header {
    display: inline-block;
    font-family: Assistant;
    margin-right: auto;
    color: var(--font-color-title);
}

.header-back-icon {
    margin: 16px;
}

.header-myntra-icon {
    margin: 16px 16px 16px 0;
    height: 24px;
    width: 24px;

}

.header-title {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 700;
    margin-top: 11px;

}

.header-subtitle {
    font-size: 12px;
    font-weight: 400;
    color: var(--font-color-title);

}

.header-actions {
    display: flex;

}

.header-action-icon {
    margin: 17px 16px 16px 0;
}

/* banner */
.banner {
    background-image: linear-gradient(90deg, #bd6da6, #d799cb);
    color: white;
    text-align: center;
    padding: 12px 6px;
    font-size: 12px;
    line-height: 17.1429px;
}

.banner-bold {
    font-weight: 700;
}



/* item card */
.grid-item-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.content-wrap {
    position: relative;
}

/* image overlay */
.item-card {
    position: relative;
    outline: 1px solid lightblue;
}


.pla-container {
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #a9abb3;
    border-radius: 2px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
}

.ratings-container {
    background-color: #fff;
    position: absolute;
    /* line-height: 18.5714px;
    height: 18px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 10px;
    cursor: pointer;
    margin: -28px 0 0 11px;
    border-radius: 9px;
    font-weight: 700;
}

.icon-star {
    font-size: 9px;
    padding: 3px;
}

.good {
    background-size: cover;
    position: relative;
    margin: 0 6px 0 4px;
    background-image: url(https://constant.myntassets.com/pwa/assets/img/d31afc29-cbb5-4df7-a713-603aeea8a9bf1548353492631-Fill-90-Copy-6.png);
}

.rating-count {
    margin-left: 7px;
}

/* wishlist icon */
.cw-like {
    position: absolute;
    right: 0;
    top: 2px;
}

.details {
    padding-left: 6px;
    padding-block: 8px 0;
    line-height: 17.1429px;
}

.details-title {
    font-size: 13px;
    font-weight: 700;
    /* line-height: 20.41px; */
    color: var(--font-color-card-title);


}

.details-subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 12.1px;
    height: 12px;
    opacity: 0.6;
    color: var(--font-color-card-title);
}

.suit-img {
    height: 255px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.price-cnt {
    display: flex;
    gap: 5px;
}

.new-price-cnt {
    display: inline-flex;
    flex-direction: row;
    align-content: end;
    font-size: 13px;
    font-weight: 700;
    color: var(--font-color-card-title);
}


.old-price-cnt {
    display: inline-flex;
    flex-direction: row;
    align-content: end;
    font-size: 13px;
    opacity: 0.4;
    color: var(--font-color-card-title);
}

.old-price {
    text-decoration-line: line-through;
}

.disc-off {
    color: var(--font-color-discount-off);
    font-weight: 700;
    font-size: 11px;
    white-space: nowrap;
}

.best-price {
    display: block;
    font-size: 12px;
    line-height: 17.1429px;
    color: var(--font-color-card-title);
}

.bp-green-txt {
    color: var(--font-color-best-price);
    font-weight: 700;
}

.bp-amount {
    font-size: 12px;
    font-weight: 700;
    color: var(--font-color-best-price);
}

.bp-grey-txt {
    color: var(--font-color-best-price-grey);
}

.plpXceleratorInfoTag {
    min-height: 17px;
}

/* floating buttons continer */
.floating-sort-filter {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid var(--button-border-color);
}

.floating-child {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* floating buttons */
.floating-btn {
    border: transparent;
    background-color: #fff;
    color: var(--floating-btn-color);
    font-size: 14px;
    letter-spacing: 0.9px;
    height: 50px;
    font-weight: 700;
    /* width: 100%; */
    padding: 14px 0 14px 28px;

}

/* floating icons */
.result-icon {
    position: absolute;
    top: 16px;
    left: 10%;
    width: 16px;
    height: 16px;
    color: var(--floating-btn-color);
}



.button-border {
    height: 22px;
    width: 1px;
    border-left: 1px solid var(--button-border-color);
}

/* BOTTOM DRAWER SORT BUTTON */
.drawer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: white;
}

/* sort by */
.sort-by {
    font-weight: 700;
    font-size: 14px;
    color: var(--sort-by-title-color);
    margin-inline: 10px;
    padding: 12px 0 8px 10px;
    border-bottom: 1px solid var(--button-border-color);
}

/* all sort buttons */
.sort-buttons {
    position: relative;
    display: inline-block;
    border: none;
    color: var(--sort-by-title-color);
    width: 100%;
    text-align: left;
    padding-block: 1px;
    padding-inline: 6px;
    background: #fff;
    font-size: 13px;
    font-weight: 400;
}

.sort-btns-title {
    padding: 7.5px 0;
    width: 82%;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 65px;
}

.sort-btn-img {
    position: relative;
    left: 17px;
    /* top: 5px; */
}

.list li {
    margin-block: 15px;
}